body {
    background: #F0F1F5;
    margin: 0;
    font-family: sans-serif;
    padding: 2rem 12rem;

}

header > p {
    float:left;
    color: orange;
}

nav {
    text-align: right;
    float: right;
}

nav ul li{
    display: inline-block;
    padding: 0 8px;

}

nav ul li a {
    color: orange;
    text-decoration: none;

}

main section:nth-child(1) {
    margin-top: 3rem;
    background-image: url("../Requirements-and-Resources/Images/picture.jpg");
    background-size: cover;
    text-align: center;
    background-position: center;
    padding: 18rem 11rem;
    color: white;
}

main section span {
    color:orange;
}

main section button {
    background-color: orange;
    margin-left: 80px;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

main section:nth-child(2) article {
    background-color: orange;
    color: white;
    width: 29%;
    display: inline-block;
    padding: 20px;
}

main section:nth-child(2) {
    text-align: center;
    margin: 1rem -1rem;
}