{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="profile-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="profile-header">

                    {% if user.profile_picture == None %}
                    <img class="profile-img" src="{% static 'images/default.jpg' %}" alt='profile-image'/>
                    {% else %}
                    <img class="profile-img" src="{{ user.profile_picture }}" alt='profile-image'/>
                    {% endif %}

                <h1>{{ user.first_name }} {{ user.last_name }}</h1>


                <h1>Username: {{ user.username }}</h1>
                <h1>Email: {{ user.email }}</h1>
                <h1>Age: {{ user.age }}</h1>


                <div class="buttons">
                    <a href="{% url 'change_password' pk=user.id %}" class="edit-button">Change Password</a>
                    <a href="{% url 'edit_profile' pk=user.id %}" class="edit-button">Edit</a>
                    <a href="{% url 'delete_profile' pk=user.id %}" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
